:export {
    menuText: $menu-text;
    menuTextActive: $menu-text-active;
    subMenuTextActive: $sub-menu-text-active;
    menuBg: $menu-bg;
    menuHover: $menu-hover;
    subMenuBg: $sub-menu-bg;
    subMenuHover: $sub-menu-hover;
  }
  